.heroSection{
    color: white;
    max-width: 1200px;
    width: 90%;
    min-height: 90vh;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.containers{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.badge{
    background-color: white;
    color: black;
    padding: 5px;
    font-size:small;
    border-radius: 20px;
}
.name{
    font-size: 55px;
    color: #ffc745;
    line-height: 90%
}
.title{
    color: #ffc745;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.desc{
    color: #ffc745;
    font-size: larger;
    font-weight: 300;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.buttons .links{
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: #ffc745 solid 3px;
    font-weight: 600;
    color: #ffc745;
    transition: all 0.3s ease;
}
.buttons a:nth-child(1){
    background-color: #ffc745;
    color: #002424;
}
.buttons .links:hover{
    transform-origin: -3px;
    translate: 0 -5px;
    transition: all 0.3s ease;
}
.buttons a:nth-child(2):hover{
    background-color: #ffc745;
    color: #002424;
}
.card{
    display: flex;
    width: 85%;
    align-self: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 26px;
    background: #034D42;
    color: #ffc745;
    box-shadow: 4px 4px 10.1px -2px rgba(255, 199, 69, 0.25);
    transition: all 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
}
.profilePic{
    border-radius: 500px;
    width: 80px;
    height: auto;
    object-fit: cover;
    border: #ffc745 solid 2px;
}
.stats{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.stats .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-weight: 600;
}
.stats .stat h4{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.stats .stat p{
    color: #ffc745;
    font-weight: 500;
    max-width: 65px;
    text-align: center;
}


@media (max-width:900px) {
    .heroSection{
        flex-direction: column;
    }
    .containers{
        align-items: center;
        text-align: center;
    }
    .name{
        font-size: 40px;
        text-align: center;
    }
    .title{
        text-align: center;
        font-size: 1.2rem;
    }
    .desc{
        text-align: center;
        font-size: medium;
    }
}