.contact{
    color: #ffc745;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact h2{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.contact h3{
    font-size: 1.7rem;
    font-weight: bold;
}
.contactContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contactInfo, .contactForm{
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.socialButtonsContainer{
    display: flex;
    gap: 1rem;
}
.socialButton{

    background: white;
    border: white 2px solid;
    color: #002424;
    text-decoration: none;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
}
.socialButton:hover{
    background:#002424;
    color: white;
    transition: all 0.3s ease;
}
.socialButton i{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.socialButton .iconText{
    opacity: 0;
    max-width: 0;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.7s ease-in-out;
    font-family: "poppins", sans-serif;
    font-weight: 600;
}
.socialButton:hover .iconText{
    opacity: 1;
    max-width: 200px;
    margin-left: 1px;
    transition: all 0.7s ease-in-out;
    padding: 0 10px;
}
@media (max-width: 768px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
    }
    .contactInfo, .contactForm {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .contactForm input{
        width: 100%;
    }
    .contactForm textarea{
        width: 100%;
    }
    .contactForm button{
        width: 100%;
    }
}