/* ===== Navbar ===== */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: #ffffff;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 8px 2px #f2f2f244;
  position:sticky;
  top: 0;
  z-index: 1001;
}

.logo {
  color: #002424;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: .8;
  text-align: right;
}
.logo span {
  font-size: 1rem;
}

#navMenu {
  display: flex;
  gap: 20px;
}

.navLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 0px;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #ffc745;
}

.contactBtn {
  padding: 8px 14px;
  background: #ffc745;
  color: black;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s ease;
}

.contactBtn:hover {
  background: #e6b33c;
}

/* ===== Burger Menu ===== */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  height: 3px;
  width: 25px;
  background: black;
  transition: 0.3s;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

/* ===== Mobile Menu ===== */
@media (max-width: 900px) {
  .burger {
    display: flex;
  }
  #navbar{
    backdrop-filter: none;
    background-color: #fff;
  }

  #navMenu {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(225,255,255, 0.6);
    backdrop-filter: blur(25px);
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px 20px;
    gap: 15px;
    width: 220px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  #navMenu.active {
    transform: translateX(0);
    z-index: 1050 !important;
  }

  .navLink, .contactBtn {
    width: 100%;
    padding: 8px 0;
  }
}
