.othersProjects{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    padding: 100px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffc745;
}
.sectionTitle{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.projectContainer{
    display: flex;
    gap: 40px;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}
.projectContainer>div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.projectContainer>div>div{
    width: 100%;
}
.projectContainer>div>div a{
    font-size: smaller;
    padding: 2px;
}
.projectContainer>div>div p{
    font-size: small;
}


.viewAllButton{
    padding: 10px 20px;
    background-color: #ffc745;
    color: #002424;
    font-weight: 500;
    width: fit-content;
    text-decoration: none;
    border-radius: 20px;
    transition: all .3s ease;
}
.viewAllButton:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
}
@media (max-width: 1000px) {
    .projectContainer{
        flex-direction: column;
        gap: 20px;
    }
    .projectContainer>div{
        grid-template-columns: 1fr 1fr;
    }
    .projectContainer>div>div{
        max-width: 100%;
    }
}
@media (max-width: 650px) {
    .projectContainer>div{
        grid-template-columns: 1fr;
    }
}