.projectsHeader{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 100px 0;
    gap: 20px;
}
.projectsHeader h1{
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #ffc745;
}
.projectsHeader p{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #ffc745;
    max-width: 600px;
    text-align: center;
    max-width: 800px;
}